// COLORS
$color-accent: #0D0D0D
$color-text: #0D0D0D

// site's colors
$site-blue: #99EEFF
$site-purple: #B399FF
$site-pink: #FF99DD
$site-orange: #FFCC99

// TYPOGRAPHY
$heading-font-family: "Geologica", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: "Atkinson Hyperlegible"

// Headings
$heading-font-weight: 500

// h1
$h1-size-desktop: pxToRem(64)
$h1-size: pxToRem(40)
$h1-weight: $heading-font-weight

// h2
$h2-size-desktop: pxToRem(48)
$h2-size: pxToRem(32)

// h3
$h3-size-desktop: pxToRem(40)
$h3-size: pxToRem(28)
$h3-weight: $heading-font-weight

// h4
$h4-size-desktop: pxToRem(32)
$h4-size: pxToRem(24)
$h4-weight: $heading-font-weight

// h5 or Section
$h5-size-desktop: pxToRem(24)
$h5-size: pxToRem(20)
$h5-weight: 400

// h6 or Tab
$h6-size-desktop: pxToRem(20)
$h6-size: pxToRem(18)

// Lead
$lead-font-family: $body-font-family
$lead-size: $h3-size
$lead-size-desktop: $h3-size-desktop
$lead-weight: 400
// sidebar
$lead-sidebar-size-desktop: $h4-size-desktop
$lead-sidebar-size: $h4-size-desktop

// Body
$body-size-desktop: pxToRem(20)
$body-size: pxToRem(18)
$body-weight: 400

// Small
$small-size: pxToRem(14)
$small-size-desktop: pxToRem(16)

// Signature
$signature-size: $body-size
$signature-size-desktop: $body-size-desktop
$signature-weight: $body-weight

// Meta
$meta-size: $small-size
$meta-size-desktop: $small-size-desktop
$meta-weight: $heading-font-weight

// Quotes
$quote-font-family: $body-font-family
$quote-size-desktop-short: $h4-size
$quote-size-desktop-long: $h5-size
$quote-size-desktop: pxToRem(40)
$quote-size: pxToRem(24)

// Buttons
$btn-border: pxToRem(1) solid white
$btn-border-radius: 0
$btn-padding: pxToRem(12) pxToRem(20)
$btn-padding-desktop: pxToRem(16) pxToRem(32)

// Spacings
$block-space-y: space(12)
$block-space-y-desktop: space(32)
$block-space-y-with-sidebar: space(32)

// New icon
$icons-site: ()
$icons-site: map-merge($icons-site, ("icon-discord": "\e900"))
$icons-site: map-merge($icons-site, ("icon-tag": "\e901"))
$icons-site: map-merge($icons-site, ("icon-file": "\e902"))
$icons-site: map-merge($icons-site, ("icon-directory": "\e903"))
$icons-site: map-merge($icons-site, ("icon-dialog": "\e904"))
$icons-site: map-merge($icons-site, ("icon-book": "\e905"))
$icons-site: map-merge($icons-site, ("icon-envelope": "\e906"))
$icons-site: map-merge($icons-site, ("icon-research": "\e907"))
$icons-site: map-merge($icons-site, ("icon-arrow-down": "\e908"))
$icons-site: map-merge($icons-site, ("icon-external": "\e909"))

// HEADER
$header-background: none
$header-border-bottom-width: 0
$header-dropdown-full: true

// HERO
$hero-background-color: none

// FOOTER
$footer-logo-height: pxToRem(80)

// BLOCKS