// Geologica | headings
@include font-face("Geologica", Geologica-Regular, $weight: 400, $exts: (woff woff2))
@include font-face("Geologica", Geologica-Medium, $weight: 500, $exts: (woff woff2))

// Atkinson | body text
@include font-face("Atkinson Hyperlegible", AtkinsonHyperlegible-Regular, $weight: 400, $exts: (woff woff2))
@include font-face("Atkinson Hyperlegible", AtkinsonHyperlegible-Italic, $style: italic, $weight: 400, $exts: (woff woff2))
@include font-face("Atkinson Hyperlegible", AtkinsonHyperlegible-Bold, $weight: 700, $exts: (woff woff2))
@include font-face("Atkinson Hyperlegible", AtkinsonHyperlegible-BoldItalic, $weight: 700, $exts: (woff woff2))

// Icons
@font-face
    font-display: block
    font-family: 'icon-site'
    font-style: normal
    font-weight: 400
    src: url('/assets/fonts/icons-site/icomoon.woff') format("woff")

@mixin icon-site($icon)
    @include icon
    font-family: 'icon-site' !important
    content: map-get($icons-site, $icon) !important
