{{ $context := . }}
{{ $home := site.GetPage "/" }}
{{ $is_single_project := eq .Type "projects" }}
{{ $rubric_taxonomy_name := printf "projects_categories/%s" (lower (i18n "rubrics.title")) }}
{{ $rubric_taxonomy := .Site.GetPage "section" $rubric_taxonomy_name }}
{{ $is_rubric_term := cond (eq .Params.parent (printf "/%s" $rubric_taxonomy_name)) true false }}

{{ if or $is_rubric_term $is_single_project }}
  <div class="siblings-rubrics">
    {{ with $home }}
      {{ $block := "" }}

      {{ range .Params.contents }}
        {{ if eq .html_class "block-class-main-rubrics block-class-stretched-link-from-content" }}
          {{ $block = . }}
        {{ end }}
      {{ end }}

      {{ with $block }}
        {{ if $is_rubric_term }}
          {{/*  Si on est sur une catégorie de rubrique on exclut cette même catégorie  */}}
          {{ $siblings := where $rubric_taxonomy.Params.children "permalink" "!=" $context.RelPermalink }}
          {{ $block = merge . (dict "data" (dict "categories" $siblings)) }}
        {{ end }}

        {{ partial "blocks/templates/categories.html" ( dict "block" $block ) }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}

{{/*  Global CTA for all pages but home, at the end of main  */}}
{{ if not .IsHome }}
  {{ with $home }}
    {{ $block := "" }}
    {{ range .Params.contents }}
      {{ if eq .html_class "block-class-cta-contribute" }}
        {{ $block = . }}
      {{ end }}
    {{ end }}
    {{ with $block }}
      {{ partial "blocks/templates/call_to_action.html" ( dict "block" . ) }}
    {{ end }}
  {{ end }}
{{ end }}
