.block-call_to_action
    &--accent_background
        .top
            .block-title + .description
                margin-top: $spacing-3
            .description p
                @include lead
        .actions
            a:first-child
                &::after
                    content: none
            a:last-child
                --btn-border: 1px solid white
                @extend .button
            @include media-breakpoint-down(md)
                a
                    width: 100%
            @include media-breakpoint-up(desktop)
                margin-right: offset(3)
                padding-right: var(--column-width)
                padding-top: $spacing-3
                a
                    width: calc(((var(--column-width) * 3) + (var(--grid-gutter)) * 3))
                    @include media-breakpoint-up(xl)
                        width: calc(((var(--column-width) * 3) + (var(--grid-gutter)) * 2))
                    @include media-breakpoint-up(xxl)
                        width: calc((var(--column-width) + var(--grid-gutter)) * 2)
