.block-categories
    .top
        .description
            @include lead-hero
    &--grid
        @include media-breakpoint-up(desktop)
            .top
                display: flex
                margin-bottom: $spacing-5
                .block-title
                    width: columns(4)
                    + .description
                        margin-top: 0
                .description
                    flex: 1
    &--projects
        article
            [class$="-title"]
                @include h3
                a
                    @include hover-translate-icon
        .page-context
            background: $site-blue
        .page-basics
            background: $site-purple
        .page-technics
            background: $site-pink
        .page-strategy
            background: $site-orange
        ul.categories
            @include grid(2, md, 0, 0)
            margin-left: var(--grid-gutter-negative)
            margin-right: var(--grid-gutter-negative)
            > li
                article
                    padding: var(--grid-gutter)
                    position: relative
                    height: 100%
                + li
                    margin-top: 0
    &--posts 
        &.block-categories--list
            background: var(--color-background-alt)
            padding-bottom: $spacing-5
            padding-top: $spacing-5
            margin-bottom: 0
            @include media-breakpoint-up(desktop)
                padding-bottom: $spacing-6
                padding-top: $spacing-6
            + .block-call_to_action--accent_background
                margin-top: 0
            .block-content
                @include media-breakpoint-up(desktop)
                    display: flex
                    gap: var(--grid-gutter)
                    .top
                        width: columns(7)
                    ul
                        margin-left: offset(1)
                    .category-content
                        width: columns(4)
                        padding-right: 0
                li
                    padding: 0
                    border-bottom: 0
                    + li
                        margin-top: $spacing-3
                    [class$="-title"]::before
                        margin-right: space()
                    &:nth-child(1)
                        [class$="-title"]::before
                            @include icon-site("icon-research")
                    &:nth-child(2)
                        [class$="-title"]::before
                            @include icon-site("icon-dialog")
                    &:nth-child(3)
                        [class$="-title"]::before
                            @include icon-site("icon-book")
                article
                    [class$="-content"] 
                        [class$="-title"]
                            @include h6
                            a
                                @include icon(arrow-right-line, after)
                                    margin-left: space()
                                @include hover-translate-icon
                        .articles-count
                            margin-top: 0
                            position: relative
    &--large 
        @include media-breakpoint-up(desktop)
            .categories
                > li + li
                    margin-top: $spacing-6