.block-testimonials
    @include media-breakpoint-up(desktop)
        .container:not(:has(.slider))
            overflow: visible
        blockquote
            position: relative
            p::before
                content: '«'
                position: absolute
                left: -3.5%
                scale: 1.5
                top: -0.5%
                line-height: 1