.block-testimonials
    &--carousel
        @include media-breakpoint-up(desktop)
            .container:not(:has(.slider))
                overflow: visible
            blockquote
                position: relative
                p::before
                    content: '«'
                    position: absolute
                    left: -2%
                    line-height: 1
                &.is-long
                    p
                        line-height: 140%
        figcaption
            margin-top: space(8)
            .avatar
                margin-right: $spacing-3
                width: var(--column-width)
                min-width: var(--column-width)
    
    figcaption
        .meta
            font-family: $body-font-family
            color: var(--color-text-alt)
        .avatar
            border-radius: 0