.block-testimonials
    @include media-breakpoint-up(desktop)
        .container:not(:has(.slider))
            overflow: visible
        blockquote
            position: relative
            p::before
                content: '«'
                position: absolute
                left: -3.8%
                scale: 1.5
                top: -2%
                line-height: 1
                .category-context &
                    color: darken($site-blue, 20)
                .category-basics &
                    color: $site-purple
                .category-technics &
                    color: $site-pink
                .category-strategy &
                    color: $site-orange