.projects__page
    .hero
        .year
            @extend .sr-only
        .dropdown-share
            position: relative
    &:not(.full-width)
        .project-sidebar 
            .taxonomies-single li.terms
                .taxonomy-children
                    display: inline-flex
                    flex-wrap: wrap
                    justify-content: flex-end
                    flex: 1
                    gap: space(3) space(2)
                    li
                        margin-left: 0
                        + li
                            margin-top: 0

.projects__section
    .hero
        .hero-text
        .btn
            align-items: center
            display: flex
            gap: space(2)
            width: fit-content
            &::before
                @include icon-site("icon-tag")

// colorfull chips for categories
article.project .project-categories,
.project-sidebar .taxonomies-single
    li
        a
            background: $color-border
            padding: space() space(2)
            text-decoration: none !important

.block-projects--list,
.projects--list,
.projects__section .projects--list,
.projects_categories__term .projects--list
    > li
        .project
            .project-content
                flex: 1
                .project-description
                    max-width: 100%
                @include media-breakpoint-up(desktop)
                    padding-right: 0 !important
            .project-categories
                display: flex
                .ancestor-taxonomy-rubrics
                    order: -1
                row-gap: space(3)
            .media 
                order: -1
                img
                    aspect-ratio: 1
            @include media-breakpoint-up(desktop)
                flex-direction: row
                gap: var(--column-width)
                .media
                    width: calc(#{columns(3)} - var(--column-width))
            @include in-page-without-sidebar
                .project-title
                    @include h4
// .projects--list
//     > li
//         border: none
//         padding-bottom: 0

// colors
.projects--list
    // TODO : add bodyclasses to put colors on project media
    .media
        .page-context &
            background: $site-blue
        .page-basics &
            background: $site-purple
        .page-techniques &
            background: $site-pink
        .page-strategy &
            background: $site-orange

// block colors
.block-class-background-blue
    background: $site-blue
.block-class-background-purple
    background: $site-purple
.block-class-background-pink
    background: $site-pink
.block-class-background-orange
    background: $site-orange

// page taxonomie "rubriques" avec les 4 blocs colorés
.page-taxonomy-rubrics
    .blocks
        .top
            a
                @include icon(arrow-right-line, after)
                @include hover-translate-icon(after)
        .block.block-projects
            margin-bottom: 0
            padding-bottom: $spacing-5
            padding-top: $spacing-5
            @include media-breakpoint-up(desktop)
                padding-bottom: space(32)
                padding-top: space(32)
            .project:last-child
                .project-title
                    border: none
                    padding-bottom: 0
            + .block-projects
                margin-top: 0
        // TODO : utiliser les nouveaux partials pour supprimer cet appel ?
        + .container
            display: none
    .block-class-cta-contribute
        margin-top: 0

// item colors
.block-projects--list,
.projects__section .projects--list,
.projects_categories__term .projects--list,
.project-sidebar .taxonomies-single
    .comprendre-le-contexte a
        background-color: $site-blue
    .decouvrir-les-bases a
        background-color: $site-purple
    .maitriser-les-techniques a
        background-color: $site-pink
    .piloter-la-strategie a
        background-color: $site-orange

.siblings-rubrics
    .block-class-main-rubrics
        margin-bottom: 0 !important
        .top
            .description
                display: none
        article
            [class$="-title"]
                @include h4
            [class$="-content"]
                @include small
    + .block-class-cta-contribute
        margin-top: 0 !important

.projects_categories__term
    main
        padding-bottom: 0
    .siblings-rubrics
        .block-categories--projects
            ul.categories
                @include grid(3, md, 0, 0)