.projects__page
    .hero
        .year
            @extend .sr-only
        .dropdown-share
            position: relative

article.project
    .project-categories
        li
            a
                background: $color-border
                padding: space() space(2)
                text-decoration: none
