html
    scroll-behavior: smooth

// blocks spacings
main
    --block-space-y: #{$block-space-y}
    @include in-page-without-sidebar
        --block-space-y: #{$block-space-y-desktop}
    @include in-page-with-sidebar
        --block-space-y: #{$block-space-y-with-sidebar}

// Links external icons
header#document-header .primary-menu .nav-level-2,
footer#document-footer,
.hero,
.contacts-details,
.block:not(.block-contact, .block-call_to_action--accent_background),
.block-contact .contacts > div > *:not(.socials-list)
    a, .link
        &[target="_blank"]:not(.icon)
            &::after
                @include icon-site(icon-external)
                display: inline-block
                font-size: 80% !important
                margin-left: $spacing-1

// custom classes for blokcs
.block-class-background-alt
    background-color: $color-background-alt
    padding-bottom: $spacing-5
    padding-top: $spacing-5
    @include media-breakpoint-up(desktop)
        padding-bottom: $spacing-6
        padding-top: $spacing-6
    .block-call_to_action--accent_background + &
        margin-top: 0

// cta for all pages
.page-with-blocks
    padding-bottom: 0

.block-class-cta-contribute
    .posts__page &,
    .projects__page &
        margin-bottom: 0
    @include in-page-with-sidebar
        .container
            padding-left: 0
        .call_to_action > div
            display: flex
            justify-content: space-between
            padding-bottom: $spacing-6
            padding-top: $spacing-6
            padding-right: 0
            .top
                width: columns(7)
                .description p
                    @include lead
            .actions
                margin-right: 0

// breadcrumb
.breadcrumb
    .page-basics &,
    .page-context &,
    .page-strategy &,
    .page-technics &
        .breadcrumb-item::before
            color: var(--color-text)
    .breadcrumb-item.active
        &, &::before
            color: var(--color-text-alt)

// footer
footer#document-footer
    .footer-logo
        .logo 
            > a::after
                content: none !important
            div
                align-items: flex-start
                display: flex
                gap: space(8)
                position: relative
        p
            @include small
        @include media-breakpoint-up(desktop)
            display: flex
            justify-content: space-between
            width: 100%
            .logo 
                display: flex
                gap: space(16)
                > * + *::before
                    content: ''
                    height: 100%
                    width: 1px
                    position: absolute
                    left: -#{space(8)}
                    background: var(--color-border)
                p
                    width: columns(3)
        @include media-breakpoint-down(desktop)
            > p,
            .logo > * + *
                margin-top: space(10)
            .logo p
                flex: 1
    .footer-credit
        color: var(--color-text-alt)

// sidebars
.project-sidebar,
.post-sidebar
    .project-infos,
    .post-infos,
        > li:not(.terms)
            color: var(--color-text-alt)

// remove main bottom spacing for black cta
body:not(.page__home)
    main
        padding-bottom: 0

// fake main page with link and summary
.block-class-stretched-link-from-content
    .top
        position: relative
        .block-title
            @include icon(arrow-right-line, after)
                display: inline-block
                margin-left: space()
                transition: 0.55s $arrow-ease-transition
        .description
            a
                @include stretched-link
                text-decoration: none
        &:hover
            .block-title::after
                transform: translateX(#{pxToRem(10)})

// Title
.block-title.heading
    margin-bottom: $spacing-4

// Table of content | TOC
@include media-breakpoint-down(desktop)
    .toc-cta-title
        span
            text-align: left
@include media-breakpoint-up(desktop)
    .toc
        li a
            &.active,
            &:hover
                text-decoration: underline
                text-decoration-thickness: 2px
// Large screens
@include media-breakpoint-up(xxl)
    body:not(.full-width)
        .document-content
            .heading
                h2
                    width: columns(11)
            .block-chapter
                .block-content
                    width: columns(10)
            .block-image
                figcaption
                    @include small
                    width: columns(7)