// blocks spacings
main
    --block-space-y: #{$block-space-y}
    @include in-page-without-sidebar
        --block-space-y: #{$block-space-y-desktop}
    @include in-page-with-sidebar
        --block-space-y: #{$block-space-y-with-sidebar}


// Links external icons
header#document-header .primary-menu .nav-level-2,
footer#document-footer,
.hero,
.contacts-details,
.block:not(.block-contact, .block-call_to_action--accent_background),
.block-contact .contacts > div > *:not(.socials-list)
    a, .link
        &[target="_blank"]:not(.icon)
            &::after
                @include icon-site(icon-external)
                display: inline-block
                font-size: 80% !important
                margin-left: $spacing-1

// custom classes for blokcs
.block-class-background-alt
    background-color: $color-background-alt
    padding-bottom: $spacing-5
    padding-top: $spacing-5
    @include media-breakpoint-up(desktop)
        padding-bottom: $spacing-6
        padding-top: $spacing-6
    .block-call_to_action--accent_background + &
        margin-top: 0

// cta for all pages
.page-with-blocks
    padding-bottom: 0

.block-class-cta-contribute
    .posts__page &,
    .projects__page &
        margin-bottom: 0
    @include in-page-with-sidebar
        .container
            padding-left: 0
        .call_to_action > div
            display: flex
            justify-content: space-between
            padding-bottom: $spacing-6
            padding-top: $spacing-6
            padding-right: 0
            .top
                width: columns(7)
                .description p
                    @include lead
            .actions
                width: columns(4)
                margin-right: 0


// breadcrumb

.breadcrumb
    .page-category-basics &,
    .page-category-context &,
    .page-category-strategy &,
    .page-category-techniques &
        .breadcrumb-item::before
            color: var(--color-text)
    .breadcrumb-item.active
        &, &::before
            color: var(--color-text-alt)

    
// footer
footer#document-footer
    .footer-logo
        > p
            @include small
        .logo
            display: flex
            gap: $spacing-3
        @include media-breakpoint-up(desktop)
            display: flex
            justify-content: space-between
            width: 100%
            > p
                @include meta
            .logo p
                max-width: columns(4)
        @include media-breakpoint-down(desktop)
            > p
                margin-top: space(10)
            .logo p
                flex: 1

// sidebars
.project-sidebar,
.post-sidebar
    .project-infos,
    .post-infos,
        > li:not(.terms)
            color: var(--color-text-alt)

// remove main bottom spacing for black cta
body:not(.page__home)
    main
        padding-bottom: 0