header#document-header
    .site-logo
        align-items: center
        display: flex
        gap: space(2)
        position: relative
        .square-logo
            display: flex
            gap: space()
            height: pxToRem(32)
            width: pxToRem(32)
            flex-wrap: wrap
            span
                height: pxToRem(14)
                transition: all 0.5s ease-in-out
                width: pxToRem(14)
                &.blue
                    background-color: $site-blue
                    .page-context &
                        border: 2px solid $color-text
                &.purple
                    background-color: $site-purple
                    .page-basics &
                        border: 2px solid $color-text
                &.pink
                    background-color: $site-pink
                    .page-technics &
                        border: 2px solid $color-text
                &.orange
                    background-color: $site-orange
                    .page-strategy &
                        border: 2px solid $color-text
        a.logo
            @include stretched-link
        // logo animation : move all squares then replace it
        &:hover
            .blue
                transform: translateX(calc(#{space()} + #{pxToRem(14)}))
            .purple
                transform: translateY(calc(#{space()} + #{pxToRem(14)}))
            .pink
                transform: translateY(calc(-#{space()} + -#{pxToRem(14)}))
            .orange
                transform: translateX(calc(-#{space()} + -#{pxToRem(14)}))

    .primary-menu
        @include media-breakpoint-up(desktop)
            .container
                gap: var(--column-width)
                align-items: flex-end
        .dropdown-menu-heading
            position: relative
            @include media-breakpoint-up(desktop)
                width: calc(#{columns(5)} + var(--grid-gutter))
            a
                @include stretched-link
                @include media-breakpoint-down(desktop)
                    @include body-text
            .dropdown-menu-summary
                @include body-text
                margin-top: $spacing-4
        .nav-level-2
            > li:first-child
                a
                    @extend .button-accent
                    @include media-breakpoint-down(desktop)
                        @include body-text
                        width: 100%
                @include media-breakpoint-up(desktop)
                    bottom: 0
                    left: var(--grid-gutter)
                    position: absolute
            @include media-breakpoint-up(desktop)
                > li.has-children > a
                    display: none
            @include media-breakpoint-down(desktop)
                li + li,
                ul
                    margin-top: space(5)
                > li 
                    a:any-link
                        @include body-text
                        font-family: $heading-font-family
                        font-weight: 500
                        padding: $btn-padding
                        text-align: center
            @include media-breakpoint-up(desktop)
                flex: 1
                margin-left: offset(1)
        .nav-level-2,
        .nav-level-3
            > li 
                a
                    @include h6
                    @include icon(arrow-right-line, after)
                    @include hover-translate-icon
                    &, &:hover
                        text-decoration: none
        // in desktop : display black button under the "fiches" summary
        @include media-breakpoint-up(desktop)
            .dropdown-menu > .container
                position: relative
                padding-bottom: space(30)
        @include media-breakpoint-down(desktop)
            .nav-level-1 > li:first-child
                // "rubriques"
                .nav-level-2 li:nth-child(2) 
                    > a
                        border: 2px solid var(--color-text)
                .nav-level-3
                    li:nth-child(1)
                        background: $site-blue
                    li:nth-child(2)
                        background: $site-purple
                    li:nth-child(3)
                        background: $site-pink
                    li:nth-child(4)
                        background: $site-orange