{{/*  Display "rubriques"'s children in children and projects pages'  */}}
{{ $column_taxonomy_name := "projects_categories/rubriques" }}
{{ $column_taxonomy := .Site.GetPage "section" $column_taxonomy_name }}
{{ $is_column := cond (eq .Params.parent (printf "/%s" $column_taxonomy_name)) true false }}

  {{/*  Children (categories) case  */}}
  {{ if $is_column }}
    <div class="navigation-taxonomies">
      <div class="container">
        <div class="top">
          <h2 class="block-title"><a href="/fr/fiches/">{{ i18n "sections_block.title" }}</a></h2>
      </div>
    </div>
    {{ with $column_taxonomy }}
      {{/*  When in rubrique/child_category, hide actual category  */}}
      {{ $filtered_categories := where .Params.children "permalink" "!=" $.RelPermalink }}
      {{ partial "taxonomies/categories" (dict "Params" (dict "children" $filtered_categories)) }}
    {{ end }}
  {{ end }}

  {{/*  Projects (pages) case  */}}
  {{ with or .Params.taxonomies .Params.section_taxonomies }}
    {{ range . }}
      {{ if eq .name "Rubriques" }}
        {{ with $column_taxonomy }}
          <div class="navigation-taxonomies">
            <div class="container">
              <div class="top">
                <h2 class="block-title"><a href="/fr/fiches/">{{ i18n "sections_block.title" }}</a></h2>
            </div>
          </div>
          {{ partial "taxonomies/categories" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>

{{/*  Global CTA for all pages but home, at the end of main  */}}
{{ if not .IsHome }}
  <div class="block block-call_to_action block-titled block-call_to_action--accent_background global-call_to_action">
    <div class="container">
      <div class="block-content">
        <div class="call_to_action call_to_action--without-image call_to_action--with-title">
          <div>
            <div class="top">
              <h2 class="block-title">{{ i18n "global_cta.title" }}</h2>
              <div class="description">
                <p>{{ i18n "global_cta.text" }}</p>
              </div>
            </div>
            <div class="actions" role="group">
              <a href="#" title="{{ i18n "global_cta.actions.discord" }} - lien externe" target="_blank" rel="noreferrer">{{ i18n "global_cta.actions.discord" }}</a>
              <a href="mailto:MAIL" title="{{ i18n "global_cta.actions.contact" }}">{{ i18n "global_cta.actions.contact" }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}